
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'feathericons';
  src:url('../fonts/feathericons/feathericons.eot?-8is7zf');
  src:url('../fonts/feathericons/feathericons.eot?#iefix-8is7zf') format('embedded-opentype'),
  url('../fonts/feathericons/feathericons.woff?-8is7zf') format('woff'),
  url('../fonts/feathericons/feathericons.ttf?-8is7zf') format('truetype'),
  url('../fonts/feathericons/feathericons.svg?-8is7zf#feathericons') format('svg');
}


body{
  background-color:#9fa0a1;
}


.pager{
  text-align:center;
}
.button{
  padding:15px 40px 15px 40px;
  background-color:black;
  text-align:center;
  color:white;
  text-decoration: none;

}

#main-menu{
  display:block;
  background-color: #2c2828;
  margin-top:0px;
  color: #aaaaaa;
  h1{
    display: block;
    float:left;
  }
  ul{
    float:right;
    display:inline;
    li{
      display:inline;
    }
  }
}
#main-menu::after{
  clear:both;
}



.grid {
  position: relative;
  margin: 0 auto;
  //padding: 1em 0 4em;
  max-width: 100%;
  list-style: none;
}

/* Common style */
.grid figure {
  position: relative;
  float: left;
  overflow: hidden;
  //margin: 10px 1%;

  background: white;
  text-align: center;
  cursor: pointer;
  //margin-bottom:24px;
  border:10px solid #9fa0a1;

}


.third{
  max-width: 800px;
  width: 31%;
}
.fourth{
  max-width: 800px;
  width: 24%;
}
.half{
  max-width: 800px;
  width: 48%;
}

.grid figure img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.4;
  //-webkit-filter:blur(2px);
}

.grid figure figcaption {
  padding: 20% 2em 2em 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
  pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

.grid figure h2 {
  word-spacing: -0.15em;
  font-weight: 300;
}

.grid figure h2 span {
  font-weight: 800;
}

.grid figure h2,
.grid figure p {
  margin: 0;
}

.grid figure p {
  letter-spacing: 1px;
  font-size: 68.5%;
  margin: 1px;
}

/* Individual effects */

/*---------------*/
/***** Lily *****/
/*---------------*/



figure.effect-lily h2{
  font-size:1em;
}

figure.effect-lily h2,
figure.effect-lily p{
  background-color:darkslategrey;
  padding:5px;
  opacity: 0.9;
}

figure.effect-lily img {
  max-width: none;
  width: -webkit-calc(100% + 50px);
  width: calc(100% + 50px);
  opacity: 0.7;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-40px,0, 0);
  transform: translate3d(-40px,0,0);
}

figure.effect-lily figcaption {
  text-align: left;
}

figure.effect-lily figcaption > div {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 2em;
  width: 100%;
  height: 50%;
}

figure.effect-lily h2,
figure.effect-lily p {
  -webkit-transform: translate3d(0,40px,0);
  transform: translate3d(0,40px,0);
}

figure.effect-lily h2 {
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
}

figure.effect-lily p {
  color: rgba(255,255,255,0.8);
  opacity: 0;
  -webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
  transition: opacity 0.2s, transform 0.35s;
}

figure.effect-lily:hover img,
figure.effect-lily:hover p {
  opacity: 1;
}

figure.effect-lily:hover img,
figure.effect-lily:hover h2,
figure.effect-lily:hover p {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

figure.effect-lily:hover p {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
  -webkit-transition-duration: 0.35s;
  transition-duration: 0.35s;
}


@media screen and (max-width: 50em) {
  .content {
    padding: 0 10px;
    text-align: center;
  }
  .grid figure {
    display: inline-block;
    float: none;
    //margin: 10px auto;
    width: 100%;
  }
}

/*---------------*/
/***** Zoe *****/
/*---------------*/


figure.effect-zoe h2{

}


figure.effect-zoe p{
  background-color:none;
}

figure.effect-zoe figcaption {
  top: auto;
  bottom: 0;
  padding: 1em;
  height: 0.2em;
  width:100%;
  background: black;
  color: #3c4a50;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);
  opacity: 0.9;
}

figure.effect-zoe p.icon-links{
  position:absolute;
  bottom:5px;
  right:10%;
}
figure.effect-zoe p.description{
  position:absolute;
  left:5%;
  bottom:16px;
  font-size:0.5em;
  text-transform: none;
  color:white;
}


figure.effect-zoe p.icon-links a {
  float: right;
  color: #3c4a50;
  font-size: 1.4em;
}

figure.effect-zoe:hover p.icon-links a:hover,
figure.effect-zoe:hover p.icon-links a:focus {
  color: #252d31;
}

figure.effect-zoe h2 {
  position: absolute;
  bottom: 3.3em;
  left:1em;
  padding: 5px;
  color: #fff;
  text-transform: none;
  font-size: 90%;

  background-color:black;
  padding:5px;
  opacity: 0.9;

  //opacity: 0;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
  -webkit-backface-visibility: hidden; /* Fix for Chrome 37.0.2062.120 (Mac) */
}





figure.effect-zoe p.icon-links a {
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0,200%,0);
  transform: translate3d(0,200%,0);
}

figure.effect-zoe p.icon-links a span::before {
  display: inline-block;
  padding: 8px 10px;
  font-family: 'feathericons';
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-eye::before {
  content: '\e000';
}

.icon-paper-clip::before {
  content: '\e001';
}

.icon-heart::before {
  content: '\e024';
}

figure.effect-zoe h2 {
  display: inline-block;
}

figure.effect-zoe:hover h2 {
  opacity: 1;
}

figure.effect-zoe:hover figcaption,
figure.effect-zoe:hover p.icon-links a {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}


figure.effect-zoe:hover p.icon-links a:nth-child(3) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

figure.effect-zoe:hover p.icon-links a:nth-child(2) {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

figure.effect-zoe:hover p.icon-links a:first-child {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

/*Zoe image*/

figure.effect-zoe img {
  max-width: none;
  width: -webkit-calc(100% + 50px);
  width: calc(100% + 50px);
  opacity: 0.7;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-40px,0, 0);
  transform: translate3d(-40px,0,0);
}


figure.effect-zoe:hover img{
  opacity: 1;
}

figure.effect-zoe:hover img{
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

figure.effect-zoe a{
  text-decoration: none;
  color:white;
}


.release-content{
  background-color:white;
  width:50%;
  margin-top:0px;

}