@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'feathericons';
  src: url("../fonts/feathericons/feathericons.eot?-8is7zf");
  src: url("../fonts/feathericons/feathericons.eot?#iefix-8is7zf") format("embedded-opentype"), url("../fonts/feathericons/feathericons.woff?-8is7zf") format("woff"), url("../fonts/feathericons/feathericons.ttf?-8is7zf") format("truetype"), url("../fonts/feathericons/feathericons.svg?-8is7zf#feathericons") format("svg");
}
/* line 14, ../sass/screen.scss */
body {
  background-color: #9fa0a1;
}

/* line 19, ../sass/screen.scss */
.pager {
  text-align: center;
}

/* line 22, ../sass/screen.scss */
.button {
  padding: 15px 40px 15px 40px;
  background-color: black;
  text-align: center;
  color: white;
  text-decoration: none;
}

/* line 31, ../sass/screen.scss */
#main-menu {
  display: block;
  background-color: #2c2828;
  margin-top: 0px;
  color: #aaaaaa;
}
/* line 36, ../sass/screen.scss */
#main-menu h1 {
  display: block;
  float: left;
}
/* line 40, ../sass/screen.scss */
#main-menu ul {
  float: right;
  display: inline;
}
/* line 43, ../sass/screen.scss */
#main-menu ul li {
  display: inline;
}

/* line 48, ../sass/screen.scss */
#main-menu::after {
  clear: both;
}

/* line 54, ../sass/screen.scss */
.grid {
  position: relative;
  margin: 0 auto;
  max-width: 100%;
  list-style: none;
}

/* Common style */
/* line 63, ../sass/screen.scss */
.grid figure {
  position: relative;
  float: left;
  overflow: hidden;
  background: white;
  text-align: center;
  cursor: pointer;
  border: 10px solid #9fa0a1;
}

/* line 78, ../sass/screen.scss */
.third {
  max-width: 800px;
  width: 31%;
}

/* line 82, ../sass/screen.scss */
.fourth {
  max-width: 800px;
  width: 24%;
}

/* line 86, ../sass/screen.scss */
.half {
  max-width: 800px;
  width: 48%;
}

/* line 91, ../sass/screen.scss */
.grid figure img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.4;
}

/* line 100, ../sass/screen.scss */
.grid figure figcaption {
  padding: 20% 2em 2em 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* line 109, ../sass/screen.scss */
.grid figure figcaption::before,
.grid figure figcaption::after {
  pointer-events: none;
}

/* line 114, ../sass/screen.scss */
.grid figure figcaption,
.grid figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
/* line 124, ../sass/screen.scss */
.grid figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

/* line 132, ../sass/screen.scss */
.grid figure h2 {
  word-spacing: -0.15em;
  font-weight: 300;
}

/* line 137, ../sass/screen.scss */
.grid figure h2 span {
  font-weight: 800;
}

/* line 141, ../sass/screen.scss */
.grid figure h2,
.grid figure p {
  margin: 0;
}

/* line 146, ../sass/screen.scss */
.grid figure p {
  letter-spacing: 1px;
  font-size: 68.5%;
  margin: 1px;
}

/* Individual effects */
/*---------------*/
/***** Lily *****/
/*---------------*/
/* line 160, ../sass/screen.scss */
figure.effect-lily h2 {
  font-size: 1em;
}

/* line 164, ../sass/screen.scss */
figure.effect-lily h2,
figure.effect-lily p {
  background-color: darkslategrey;
  padding: 5px;
  opacity: 0.9;
}

/* line 171, ../sass/screen.scss */
figure.effect-lily img {
  max-width: none;
  width: -webkit-calc(100% + 50px);
  width: calc(100% + 50px);
  opacity: 0.7;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-40px, 0, 0);
  transform: translate3d(-40px, 0, 0);
}

/* line 182, ../sass/screen.scss */
figure.effect-lily figcaption {
  text-align: left;
}

/* line 186, ../sass/screen.scss */
figure.effect-lily figcaption > div {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 2em;
  width: 100%;
  height: 50%;
}

/* line 195, ../sass/screen.scss */
figure.effect-lily h2,
figure.effect-lily p {
  -webkit-transform: translate3d(0, 40px, 0);
  transform: translate3d(0, 40px, 0);
}

/* line 201, ../sass/screen.scss */
figure.effect-lily h2 {
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
}

/* line 206, ../sass/screen.scss */
figure.effect-lily p {
  color: rgba(255, 255, 255, 0.8);
  opacity: 0;
  -webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
  transition: opacity 0.2s, transform 0.35s;
}

/* line 213, ../sass/screen.scss */
figure.effect-lily:hover img,
figure.effect-lily:hover p {
  opacity: 1;
}

/* line 218, ../sass/screen.scss */
figure.effect-lily:hover img,
figure.effect-lily:hover h2,
figure.effect-lily:hover p {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 225, ../sass/screen.scss */
figure.effect-lily:hover p {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
  -webkit-transition-duration: 0.35s;
  transition-duration: 0.35s;
}

@media screen and (max-width: 50em) {
  /* line 234, ../sass/screen.scss */
  .content {
    padding: 0 10px;
    text-align: center;
  }

  /* line 238, ../sass/screen.scss */
  .grid figure {
    display: inline-block;
    float: none;
    width: 100%;
  }
}
/*---------------*/
/***** Zoe *****/
/*---------------*/
/* line 256, ../sass/screen.scss */
figure.effect-zoe p {
  background-color: none;
}

/* line 260, ../sass/screen.scss */
figure.effect-zoe figcaption {
  top: auto;
  bottom: 0;
  padding: 1em;
  height: 0.2em;
  width: 100%;
  background: black;
  color: #3c4a50;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  opacity: 0.9;
}

/* line 275, ../sass/screen.scss */
figure.effect-zoe p.icon-links {
  position: absolute;
  bottom: 5px;
  right: 10%;
}

/* line 280, ../sass/screen.scss */
figure.effect-zoe p.description {
  position: absolute;
  left: 5%;
  bottom: 16px;
  font-size: 0.5em;
  text-transform: none;
  color: white;
}

/* line 290, ../sass/screen.scss */
figure.effect-zoe p.icon-links a {
  float: right;
  color: #3c4a50;
  font-size: 1.4em;
}

/* line 296, ../sass/screen.scss */
figure.effect-zoe:hover p.icon-links a:hover,
figure.effect-zoe:hover p.icon-links a:focus {
  color: #252d31;
}

/* line 301, ../sass/screen.scss */
figure.effect-zoe h2 {
  position: absolute;
  bottom: 3.3em;
  left: 1em;
  padding: 5px;
  color: #fff;
  text-transform: none;
  font-size: 90%;
  background-color: black;
  padding: 5px;
  opacity: 0.9;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
  -webkit-backface-visibility: hidden;
  /* Fix for Chrome 37.0.2062.120 (Mac) */
}

/* line 324, ../sass/screen.scss */
figure.effect-zoe p.icon-links a {
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0, 200%, 0);
  transform: translate3d(0, 200%, 0);
}

/* line 331, ../sass/screen.scss */
figure.effect-zoe p.icon-links a span::before {
  display: inline-block;
  padding: 8px 10px;
  font-family: 'feathericons';
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 340, ../sass/screen.scss */
.icon-eye::before {
  content: '\e000';
}

/* line 344, ../sass/screen.scss */
.icon-paper-clip::before {
  content: '\e001';
}

/* line 348, ../sass/screen.scss */
.icon-heart::before {
  content: '\e024';
}

/* line 352, ../sass/screen.scss */
figure.effect-zoe h2 {
  display: inline-block;
}

/* line 356, ../sass/screen.scss */
figure.effect-zoe:hover h2 {
  opacity: 1;
}

/* line 360, ../sass/screen.scss */
figure.effect-zoe:hover figcaption,
figure.effect-zoe:hover p.icon-links a {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 367, ../sass/screen.scss */
figure.effect-zoe:hover p.icon-links a:nth-child(3) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

/* line 372, ../sass/screen.scss */
figure.effect-zoe:hover p.icon-links a:nth-child(2) {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

/* line 377, ../sass/screen.scss */
figure.effect-zoe:hover p.icon-links a:first-child {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

/*Zoe image*/
/* line 384, ../sass/screen.scss */
figure.effect-zoe img {
  max-width: none;
  width: -webkit-calc(100% + 50px);
  width: calc(100% + 50px);
  opacity: 0.7;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-40px, 0, 0);
  transform: translate3d(-40px, 0, 0);
}

/* line 396, ../sass/screen.scss */
figure.effect-zoe:hover img {
  opacity: 1;
}

/* line 400, ../sass/screen.scss */
figure.effect-zoe:hover img {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 405, ../sass/screen.scss */
figure.effect-zoe a {
  text-decoration: none;
  color: white;
}

/* line 411, ../sass/screen.scss */
.release-content {
  background-color: white;
  width: 50%;
  margin-top: 0px;
}
